    </main>        
        <footer class="page-footer blue">
            <div class="container">
                <div class="row">
                    <div class="col 16 s12">
                        <h5 class="white-text">Blue Light Social</h5>
                        <p class="grey-text text-lighten-4">Connecting the World</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2018 Jake Reck
                    <a class="grey-text text-lighten-4 right" href="http://jakereck.com">Jake Reck</a>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/js/materialize.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>        
    </body>
</html>