<!DOCTYPE html>
<html ng-app="blueLightApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Blue Light Social</title>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- MATERIALIZE CSS -->
        <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection">

        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="/css/master.css">

        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

        <!-- ANGULAR -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    </head>

    <body>
        <ul id="dropdown" class="dropdown-content">
            <% if(!currentUser){ %>
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Register</a></li>
            <% } else { %>
                <li><a href="/profile">Profile</a> </li>
                <li><a href="/logout">Log Out</a></li>
            <% } %>
        </ul>
        <nav class="blue">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">BLS</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/users">Users</a></li>
                    <li><a href="/therapies">Therapies</a></li>
                    <li><a href="/groups">Groups</a></li>
                    <li>
                        <a class="dropdown-trigger" href="#!" data-target="dropdown"><i class="material-icons">account_circle</i></a>      
                    </li>
                    <!-- <% if(!currentUser){ %>
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/register">Register</a></li>
                    <% } else { %>
                        <li><a href="/profile">Profile</a> </li>
                        <li><a href="/logout">Log Out</a></li>
                    <% } %> -->
                </ul>
            </div>    
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="/therapies">Therapies</a></li>
            <li><a href="/groups">Groups</a></li>
            <% if(!currentUser){ %>
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Register</a></li>
            <% } else { %>
                <li><a href="/profile">Profile</a> </li>
                <li><a href="/logout">Log Out</a></li>
            <% } %>
        </ul>
    <main>