<% include partials/header %>

<div class="container">
    <h1>Groups</h1>
    <div class="row">
        <% groups.forEach(function(groups){ %>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= groups.image %>">
                        <span class="card-title"><%= groups.name %></span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue" href="/groups/<%= groups._id %>"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p><%= groups.description %></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>        
    <% if(currentUser) { %>
        <a href="/groups/new">Add New Group</a>
    <% } %>
</div>

<% include partials/footer %>