<% include partials/header %>

<section class="hero is-medium is-info">
    <div class="hero-body">
        <div class="container has-text-centered">
        <h1 class="title">Blue Light Social</h1>
        <h2 class="subtitle">Connecting the World</h2>
        </div>
    </div>
</section>

<div class="top-margin">
    <div class="tile is-ancestor">
        <div class="tile is-8">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification box">
                        <p class="title">Mission Statement</p>
                        <p>
                            Our mission is to connect all the people involved in the lives of those 
                            diagnosed with special needs.
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="tile is-parent">
                <article class="tile is-child notification box">
                    <% if(!currentUser){ %>
                        <p class="title">Log In</p>                        
                        <form action="/login" method="POST">
                            <div class="field">
                                <label class="label">Username:</label>
                                <div class="control">
                                    <input class="input is-primary" type="text" placeholder="Username" name="username">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Password:</label>
                                <div class="control">
                                    <input class="input is-primary" type="password" placeholder="Password" name="password">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary is-outlined">Submit</button>
                                </div>
                            </div>
                        </form>
                    <% } else { %>
                        <h1 class="title has-text-centered">Welcome, <%= currentUser.username %>!</h1>
                    <% } %>
                </article>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child notification box">
                <p class="title">Who is this for?</p>
                <div class="columns has-text-centered">
                    <div class="column">
                        <div class="box">
                            <p class="subtitle">Parents</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                            <p class="subtitle">Therapies</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                            <p class="subtitle">Businesses</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                            <p class="subtitle">Family/Friends</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>



<% include partials/footer %>
