<% include partials/header %>

<div class="parallax-container">
    <div class="parallax"><img src="/images/parallax1.jpg"></div>
</div>
<div class="section white">
    <div class="row container center-align blue-text">
        <h1 class="header">Blue Light Social</h1>
        <p class="grey-text">Connecting the World</p>
        <div class="col s12">
            <h4>Current Progress</h4>
            <p>This will be rolling out in stages...</p>
            <h5>Stage One: Parents/Family</h5>
            <div class="progress">
                <div class="indeterminate" style="width: 70%"></div>
            </div>
            <!-- <h5>Stage Two: Therapies</h5>
            <div class="progress">
                <div class="indeterminate" style="width: 30%"></div>
            </div>
            <h5>Stage Three: Businesses</h5>
            <div class="progress">
                <div class="indeterminate" style="width: 0%"></div>
            </div> -->
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/images/parallax2.jpg"></div>
</div>

<% include partials/footer %>
