<% include partials/header %>

<div class="parallax-container">
    <div class="parallax">
        <img src="images/parallax1.jpg">
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Blue Light Social</h2>
            <p class="grey-text text-darken-3">Connecting the World</p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="images/parallax2.jpg">
        </div>
    </div>
</div>

<% include partials/footer %>
