<% include partials/header %>

<div class="container">
    <h1>Log In</h1>
    <div class="row">
        <form class="col s8 offset-s2" action="/login" method="POST">
            <div class="input-field">
                <input class="validate" type="text" name="username" id="username">
                <label for="username">Username</label>
            </div>
            <div class="input-field">
                <input class="validate" type="password" name="password" id="password">
                <label for="password">Password</label>
            </div>
            <input class="waves-effect waves-light btn" type="submit" value="Submit">
        </form>
    </div>
</div>


<% include partials/footer %>