<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col s4">
            <h2 class="center-align"><%= currentUser.first_name %> <%= currentUser.last_name %></h2>
            <img class="responsive-img circle z-depth-5" src="<%= currentUser.profile_picture %>">
        </div>
        <div class="col s6 offset-s2">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="status" class="materialize-textarea"></textarea>
                            <label for="status">Status Update</label>
                        </div>
                    </div>
                    <input class="waves-effect waves-light btn" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>