<% include partials/header %>

<div class="section white">
    <div class="row container center-align blue-text">
        <h1 class="header"><%= group.name %></h1>
        <p><%= group.description %></p>
    </div>
</div>


<% include partials/footer %>