<% include partials/header %>

<div class="hero is-medium is-info">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="title">
                <h1 class="title">
                    Therapies
                </h1>
                <form>
                    <div class="field has-addons has-addons-centered">
                        <div class="control is-expanded">
                            <input class="input" type="text" placeholder="Enter Location">
                        </div>
                        <div class="control">
                            <a class="button is-primary">
                                Search
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container top-margin">
    <div class="columns is-multiline">
        <% therapies.forEach(function(therapies){ %>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="<%= therapies.image %>">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <div class="content">
                            <p class="title"><%= therapies.name %></p>
                            <p><a href="/therapies/<%= therapies._id %>" class="button is-outlined is-info">More Info</a></p>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    <% if(currentUser){ %>
        <a href="/therapies/new" class="button is-primary">Add new therapy</a>
    <% } %>
</div>



<% include partials/footer %>