<% include partials/header %>

<div class="container">
    <h1>Therapies</h1>
    <div class="row">
        <% therapies.forEach(function(therapies){ %>
            <div class="col s6">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= therapies.image %>">
                        <span class="card-title"><%= therapies.name %></span>
                    </div>
                    <div class="card-content">
                        <p><%= therapies.description %></p>
                    </div>
                    <div class="card-action">
                        <a href="/therapies/<%= therapies._id %>">More Info</a>
                    </div>
                </div>
            </div>
        <% }) %>            
    </div>
    <% if(currentUser){ %>
        <a href="/therapies/new">Add new therapy</a>
    <% } %>
</div>

<% include partials/footer %>