<% include partials/header %>

<div class="container">
    <h1>Therapies</h1>
    <% if(currentUser){ %>
        <a href="/therapies/new" class="btn blue lighten-2">Add new therapy</a>
    <% } %>
    <div class="row">
        <% therapies.forEach(function(therapies){ %>
            <div class="col s12 m6 l3">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="<%= therapies.image %>">
                        <span class="card-title"><%= therapies.name %></span>
                    </div>
                    <div class="card-content">
                        <p class="truncate"><%= therapies.description %></p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/therapies/<%= therapies._id %>" class="btn blue">More Info</a>
                    </div>
                </div>
            </div>
        <% }) %>            
    </div>
</div>

<% include partials/footer %>